
/*main page of website*/
.body{
  background-color: #f8f9fa;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;

}

/*main card container*/
.maincontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 237.5px;
    perspective: 1000px;
    
  }
  
  /*card config main*/
  .thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease,box-shadow 0.8s ease;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1)
  
  
  }
  /*card config front and back*/
  .thefront, .theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px silver;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:  800px; 
  
    
  }
  
  /*card front config color/tranform*/
  .thefront {
    background: linear-gradient(to bottom,#f3f3f3, #e0e1dd);
    color: #adb5bd;
    transform: rotateY(180deg);
  }
  
  /*card back config color*/
  .theback {
    background: linear-gradient(to bottom,#F3F3F3, #e0e1dd);
    color: #adb5bd;
  }
  
  /*card animation*/
  .thecard:hover {
    transform: rotateY(180deg)translateY(-9px);
    
  }

/*copy button config*/
  .copy-button{
   
  }

/*copy button hover animation*/
  .copy-button:hover{




  }
  